<div class="hero">
  <div class="text-box">
    <div class="title">
      <h1>
        <strong style="color:red">REDBUZZ</strong> is an agency that focuses on the customer experience, <br>
        covering all areas of the modern communication.</h1>
      Located in Jakarta - Indonesia
    </div>

  </div>
  <a href="#section1" id="scrolldown">
    <svg class="arrow arrow-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 35.35">
      <title>back-arrow</title>
      <path
        d="M0,16.88a3,3,0,0,0,.16.94,1.51,1.51,0,0,0,.63.78l15,15a2.14,2.14,0,0,0,3.52.08,2.14,2.14,0,0,0-.08-3.52L8.59,19.38H57.5a2.5,2.5,0,1,0,0-5H8.59L19.22,3.59A2.14,2.14,0,0,0,19.3.08a2.14,2.14,0,0,0-3.52.08l-15,15a1.51,1.51,0,0,0-.62.78A3,3,0,0,0,0,16.88Z">
      </path>
    </svg>
  </a>
</div>
