<div id="section1" class="fullwidth-section text-light nopadding ">
  <ng-template [ngIf]="banner">
    <div class="inline-video" data-type="youtube" data-videoid="lhkDid0oi4g" (click)="openVideo()">
      <img style="width: 100%;" src="https://redbuzz.co.id/files/uploads/1680x700-CX.jpg" alt="SEO">
    </div>
  </ng-template>

  <ng-template [ngIf]="video">
    <div class="embed-responsive embed-responsive-16by9 video-wrapper">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lhkDid0oi4g?autoplay=1"
        allowfullscreen></iframe>
    </div>
  </ng-template>
  <div class="close-inline-video"></div>
</div>
